#msg {
    display: none;
}

#msg {
    animation-duration: 3s;
    animation-name: slidein1;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slideout {
    from {
        /*margin-left: 100%;*/
        /*width: 300%;*/
        opacity: 1;
    }

    to {
        /*margin-left: 0%;*/
        /*width: 100%;*/
        opacity: 0;
    }
}